.weather {
  display: flex;
  width: 100vw;
  height: 100%;
  background: url("../img/background.png") no-repeat;
  &__header {
    margin: 59px 0 0 0;
    text-align: center;
  }
  &__city {
    font-weight: 400;
    font-size: 37px;
    color: #FFFFFF;
  }
  &__degrees {
    font-weight: 200;
    font-size: 102px;
    color: #FFFFFF;
  }
  &__description {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
  }
  &__coordinates {
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    display: flex;
    margin: 20px 0 0 20px;
  }

  &__left {
    width: 535px;
    height: 630px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(290px);
    border-radius: 15px;
    margin: 0;
  }
  &__left-subheader {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #424242;
    text-align: center;
    margin-top: 14px;
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    margin: 10px 17px 0 15px;
    &:after {
      content: '';
      position: absolute;
      top: 50px;
      width: 503px;
      height: 1px;
      background: #424242;
      opacity: 0.5;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__weeks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    .weather__dt {
      margin-right: 10px;
    }
    .icon {
      width: 55px;
      height: 55px;
    }
  }
  &__graphDegress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 273px;
    .weather__lineGraph {
      position: relative;
      width: 164.92px;
      height: 4px;
      background: #000000;
      opacity: 0.51;
      border-radius: 44px;
    }
    .weather__range {
      position: absolute;
      height: 4px;
      background: linear-gradient(90deg, #96D0A8 0%, #B5CF79 22.81%, #F8D74A 54.18%, #EF8835 99%);
      border-radius: 44px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
  }
  &__time {
    position: relative;
    padding: 10px 0 0 10px;
    width: 628px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(290px);
    border-radius: 15px;
    &_subheader {
      width: 300px;
      font-weight: 400;
      font-size: 18px;
      color: #373C42;
      &:before {
        content: '';
        position: absolute;
        top: 60px;
        width: 608px;
        height: 0.2px;
        background: #373C42;
        opacity: 0.5;
      }
    }
  }

  &__frames {
    display: flex;
    justify-content: space-between;
    width: 603px;
    min-height: 122px;
    margin-top: 16px;
  }
  &__frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    list-style: none;
    &_degrees {
      font-weight: 500;
      font-size: 22px;
      color: #373C42;
    }
    &_time {
      font-weight: 500;
      font-size: 17px;
      color: #373C42;
    }
    img {
      width: 55px;
      height: 55px;
    }
  }
  &__boards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 628px;
    height: 450px;
    margin-top: 20px;
  }
  &__board {
    padding: 15px 0 0 10px;
    &:nth-child(2) {
      padding: 0;
    }
  }
  &__wrapper {
    display: flex;
    margin-left: 10px;
  }
  &__sunrise {
    padding: 15px 0 0 20px;
    display: flex;
  }
  &__tab {
    font-weight: 500;
    font-size: 18.5045px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
    margin-left: 5px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0 0 10px;
    padding: 0;
    height: 140px;
    img {
      width: 100%;
      height: 100%;
      padding-right: 10px;
    }
    &_index {
      font-weight: 400;
      font-size: 44.4108px;
      color: #3C3C3C;
    }
    &_level {
      font-weight: 500;
      font-size: 27.14px;
      color: #3C3C3C;
    }
    &_info {
      width: 166.92px;
      height: 48.61px;
      font-weight: 400;
      font-size: 22px;
      color: #3C3C3C;
    }
    &_time {
      font-weight: 400;
      font-size: 43px;
      color: #000000;
      padding-left: 10px;
    }
    &_time-span {
      font-weight: 400;
      font-size: 35px;
      color: #000000;
    }
    &_sunrise-span {
      font-weight: 400;
      font-size: 18px;
      color: #000000;
    }
    &_sunrise {
      font-weight: 400;
      font-size: 22px;
      color: #000000;
      padding: 15px 0 0 10px;
    }

    &_degrees {
      font-weight: 400;
      font-size: 35px;
      color: #000000;
    }
    &_humidity {
      font-weight: 400;
      font-size: 35px;
      color: #000000;
    }
    &_eye {
      font-weight: 400;
      font-size: 43.1772px;
      color: #000000;
    }
    &_eye-span {
      font-size: 35px;
    }
  }

  &__board {
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.616817px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(290px);
    border-radius: 18.5045px;
  }
  &__timeNow {
    font-weight: 400;
    font-size: 43px;
    .weather__format {
      font-weight: 400;
      font-size: 30px;
    }
  }
}


.sidebar {
  background: rgba(0, 148, 255, 0.15);
  backdrop-filter: blur(340px);
  margin-left: auto;
  &__input {
    input {
      font-weight: 400;
      font-size: 17px;
      margin-top:26px;
      margin-left:20px;
      padding-left: 46px;
      width: 621px;
      height: 44px;
      background: #FFFFFF;
      border-radius: 47px;
      outline: none;
      border: none;

    }
    &:before {
      content: url("../img/Vector.svg");
      position: absolute;
      left: 39px;
      top: 40px;
    }
  }
  .linkMyLocation {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/card1.png");
    margin: 30px 30px;
    background-size: cover;
    border-radius: 14px;
    border: none;
    text-decoration: none;

  }
  .coordsMyLocation {
    margin-top: 25px;
  }
  &__left {
    margin: 20px;

  }
  &__right {
    margin: 20px;
  }
  &__localHeader {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
  }
  &__subheader{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
  }
  &__city {
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    text-align: left;
  }
  &__description {
    margin-top: 70px;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    width: 256px;
    text-align: left;
  }
  &__degrees {
    font-weight: 300;
    font-size: 110px;
    color: #FFFFFF;
  }
  &__coordinate {
    margin-top: 7px;
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
    text-align: left;
  }
  &__time {
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    text-align: left;

  }
  &__item-city {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    background: url("../img/card.png");
    background-size: cover;
    border-radius: 14px;
    border: none;
    cursor: pointer;
  }
}
.popup {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(78, 112, 123, 0.42);
  backdrop-filter: blur(16px);
  &__close {
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      right: -30px;
      top: -15px;
      width: 30px;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }
    &:before {
      content: '';
      position: absolute;
      right: -30px;
      top: -15px;
      width: 30px;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(135deg);
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 621px;
    height: 289px;
  }
  &__search {
    width: 621px;
    height: 44px;
    background: #F3F3F3;
    border-radius: 16px 16px 0 0;
    border: none;
    outline: none;
    padding-left: 46px;
    font-weight: 400;
    font-size: 17px;
  }
  &__input {
    &:before {
      content: url("../img/Vector.svg");
      position: absolute;
      top: 13px;
      left: 18px;
    }
  }
  &__results {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 0 0 16px 16px;
    padding: 17px 17px;
  }
  &__item {
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width: 589px;
      height: 0;
      border: 1px solid rgba(84, 84, 88, 0.65);
    }
  }
  &__name {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  &__country {
    font-weight: 400;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.6);
  }
  &__button {
    cursor: pointer;
    width: 621px;
    height: 41px;
    background: #ABBFCE;
    border-radius: 31px;
    margin-top: 40px;
    border: none;
    &:hover {
      background: #3AA9FF;
    }
  }
  &__checked {
    content: url("../img/Vectorchecked.svg");
    position: absolute;
    right: 0;
    top: 10px;
  }
}
.active {
  visibility: visible;
}


